body{
background-color: brown;

}
table{
    border-collapse: collapse;
    border: 2px solid whitesmoke;
    margin: 200px;
    
}
th {
    border:whitesmoke solid 1px;
    color:violet;
    margin: 100px;
    padding: 24px;
    padding-left: 20px;

}

td{
    border: whitesmoke solid 1px;
    color: wheat;
    margin: 100px;
    padding: 24px;
    padding-left: 20px;
}

h1{
    text-align: center;
    color: wheat;
}